<%
  form_action = @book.new_record? ? resource(:books) : resource(@book)
%>

<%= form_for @book, :action => form_action do %>
  <p>
    <%= text_field :title, :label => "Tytuł" %>
  </p>
  <p>
    <%= text_area :description, :label => "Opis", :rows => 10, :cols => 80 %>
  </p>
  <p>
    <%= select :status, :collection => Book.statuses_for_select, :label => 'Status' %>
  </p>

  <p>
    <%= select :owner_uid, :collection => User.users_for_select, :label => 'Właściciel' %>
  </p>

  <p>
    <%= text_field :cover_url, :label => "Cover URL" %>
  </p>
  <p>
    <%= text_field :shop_url, :label => "Shop URL" %>
  </p>
  <p>
    <%= text_field :isbn, :label => "ISBN" %>
  </p>
  <%= submit "Zapisz" %>
<% end =%>