
<% throw_content :menu do %>
 | <%= link_to 'Lista', resource(:books) %>
 | <%= link_to 'Dodaj', resource(:books, :new) %>
<% end %>
 
<h2>Książki</h2>

<div><%= letters :page => @books.current_page %></div>

<ul>
  <% @books.each do |book| %>
  <li>
    <% if book.has_cover? %>
      <%= image_tag book.cover_thumbnail %>
    <% end %>
    <%= link_to "#{book.title}", resource(book) %>

    <% if book.can_rent? %>
      Yes, U can!
    <% end %>
  </li>
  <% end %>
</ul>

<%= paginate @books, :url => resource(:books) %>
