
<% throw_content :for_sidebar do %>
 <% if session.authenticated? %>
  <%= link_to('Dodaj', resource(:books, :new)) if current_user.has_permission?(:can_add, "Book") %>
 <% end %>

 <%= image_tag "mongodb.png" %>
<% end %>

<h2>Książki</h2>

<div id="search-results">
  <div>
    <div id="search-filter">
      <div class="letters"><%= letters :page => @books.current_page %></div>
    </div>
  </div>
</div>

<table id="books-listing">
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td class="cover">
        <% if book.has_cover? %>
          <%= image_tag book.cover_thumbnail %>
        <% end %>
      </td>
      <td class="title">
        <%= link_to "#{book.title}", resource(book) %>
      </td>
      <td class="can-rent">
        <%= book.status_readable %>
        <%# if book.can_rent? %>
          <%#*Yes, U can!%>
        <%# end %>
        <%# if book.is_proposition? %>
          <%#*Propozycja%>
        <%# end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @books, :url => resource(:books, @feed_paginator) %>

