
<% throw_content :menu do %>
 | <%= link_to 'Dodaj', resource(:books, :new) %>
<% end %>
 
<h2>Książki</h2>

<ul>
  <% @books.each do |book| %>
  <li>
    <% if book.has_cover? %>
      <%= image_tag book.cover_thumbnail %>
    <% end %>
    <%= link_to "#{book.title}", resource(book) %>

    <% if book.can_rent? %>
      Yes, U can!
    <% end %>
  </li>
  <% end %>
</ul>

<% unless @books.previous_page.nil? %>
<%= link_to 'Poprzednia', resource(:books, :page => @books.previous_page) %>
<% end %>
<%= @books.current_page %> z <%= @books.total_pages %>
<% unless @books.next_page.nil?%>
<%= link_to 'Następna', resource(:books, :page => @books.next_page) %>
<% end %>


<%= foo %>