
<h2><%= @book.title %></h2>

<%= link_to 'Edytuj', url(:controller => 'books', :action => 'edit', :id => @book.id) %>
<!-- <%= delete_button(@book, "Usuń #{@book.title}") %> -->
<hr />

<ul>
  <li><label>Tytuł:</label> <%= @book.title %></li>
  <li><label>Opis:</label> <%= @book.description %></li>
</ul>

