
<% throw_content :for_sidebar do %>
  <%= link_to('Edytuj', resource(@book, :edit)) if current_user.has_permission?(:can_edit, "Book") %>
  <%= delete_button(@book, "Usuń #{@book.title}") if current_user.has_permission?(:can_destroy, "Book") %>
  <% if @book.can_rent? %>
    <%= link_to 'Biorę!', url(:rent_book, :slug => @book.slug) %>
  <% else %>
    <% if @book.rented_by?(session.user) %>
      <%= link_to('Oddaję!', url(:give_back_book, :slug => @book.slug)) if current_user.has_permission?(:can_give_back, @book) %>
    <% end %>
  <% end %><br/>
<% end %>

<div class="book-header">
  <div class="book-logo">
    <% if @book.has_cover? %>
      <%= image_tag @book.cover_thumbnail %>
    <% end %>
  </div>
  
  <h4 class="meta-thin-lf">
      <span class="cufon cufon-canvas" style="width: 89px; height: 42px;">
        <span class="cufon-alt"><%= @book.title %></span>
      </span>
  </h4>
  
  
  
  <div class="company-location l-r">
    <div class="l-l">
      <div class="u-l">
        <p><label>Status:</label> <%= @book.status_readable %>
          <% if @book.rented? %>
            (<%= link_to @book.rented_by, url(:show_user, :uid => @book.rented_by) %>)
          <% end %>
        </p>
      </div>
    </div>
  </div>
  
</div>

<ul class="book-extra-info">
  <% if @book.isbn %>
  <li><label>ISBN:</label> <%= @book.isbn %></li>
  <% end %>
  <% if @book.owner_uid %>
  <li><label>Właściciel:</label> <%= @book.owner_uid %></li>
  <% end %>
  <% if @book.shop_url %>
  <li><label>Sklep:</label> <%= @book.shop_url %></li>
  <% end %>
</ul>

<div class="book-desc">
  <%= RedCloth.new(@book.description).to_html if @book.description %>
</div>

<hr />

<table>
  <tr>
    <td>Od</td>
    <td>Do</td>
    <td>Kto</td>
  </tr>
<% @book.history.each do |rent_history| %>
  <tr>
    <td><%= readable_date rent_history.from_date %></td>
    <td><%= readable_date rent_history.to_date %></td>
    <td><%= link_to rent_history.uid, url(:show_user, :uid => rent_history.uid) %></td>
  </tr>
<% end %>
</table>
