
<%= link_to 'Lista', resource(:books) %> |
<%= link_to 'Edytuj', resource(@book, :edit) %>
<%#= delete_button(@book, "Usuń #{@book.title}") %>

<hr />
<h2><%= @book.title %></h2>

<% if @book.has_cover? %>
  <%= image_tag @book.cover_thumbnail %>
<% end %>

<ul>
  <li><label>Status:</label> <%= @book.status_readable %></li>
  <% if @book.isbn %>
  <li><label>ISBN:</label> <%= @book.isbn %></li>
  <% end %>
  <% if @book.owner_uid %>
  <li><label>Właściciel:</label> <%= @book.owner_uid %></li>
  <% end %>
  <% if @book.shop_url %>
  <li><lable>Sklep:</label> <%= @book.shop_url %></li>
  <% end %>
  <li><label>Opis:</label> <%= @book.description %></li>
</ul>

