
<%= link_to 'Lista', resource(:books) %> |
<%= link_to 'Edytuj', resource(@book, :edit) %>
<%#= delete_button(@book, "Usuń #{@book.title}") %>

<hr />
<h2><%= @book.title %></h2>

<% if @book.has_cover? %>
  <%= image_tag @book.cover %>
<% end %>

<ul>
  <li><label>Tytuł:</label> <%= @book.title %></li>
  <li><label>Opis:</label> <%= @book.description %></li>
</ul>

