
<h2><%= @user.full_name %></h2>

<% if @user.has_avatar? %>
  <%= image_tag @user.avatar_thumbnail %>
<% end %>

<table>
  <tr>
    <td>Od</td>
    <td>Do</td>
    <td>Książka</td>
  </tr>
<% @user.history.each do |rent_history| %>
  <tr>
    <td><%= readable_date rent_history.from_date %></td>
    <td><%= readable_date rent_history.to_date %></td>
    <td>
      <% if !rent_history.book.nil? %><%= link_to rent_history.book.title, resource(rent_history.book) %><% end %>
    </td>
  </tr>
<% end %>
</table>
